<div class="app-container">
  <div class="store-logo">
    <img src="../../../assets/images/socks-logo.svg" alt="">
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <div class="polaroid-frame ">
        <div class="image-box clearfix">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4">
      <div class="polaroid-frame">
        <div class="image-box">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4">
      <div class="polaroid-frame">
        <div class="image-box">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4">
      <div class="polaroid-frame">
        <div class="image-box">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4">
      <div class="polaroid-frame">
        <div class="image-box">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>