<div class="app-container padding-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <form #addProduct="ngForm">
          <div class="form-group">
            <label for="itemName">Product Name</label>
            <input  id="itemName" required minlength="3" maxlength="30" ngModel name="itemName" #itemName="ngModel" type="text" class="form-control">
            <div class="alert alert-danger" *ngIf="itemName.touched && !itemName.valid">
              <div *ngIf="itemName.errors.required">Product name is required</div>
              <div *ngIf="itemName.errors.minlength">Product name should have at least 3 characters</div>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Product Description</label>
            <textarea ngModel name="description" #description="ngModel" id="description" class="form-control" rows="5"></textarea>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input  id="price" required ngModel name="price" #price="ngModel" type="number" class="form-control">
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input  id="quantity" required ngModel name="quantity" #quantity="ngModel"  type="number" class="form-control">
          </div>
          <div class="form-group">
            <label for="Quantity">Product Main Photo</label> <br>
            <input id="mainPhoto"  ngModel name="mainPhoto" #mainPhoto="ngModel" type="file">
          </div>
          <div class="form-group">
            <label for="Quantity">Product Secondary Photo</label> <br>
            <input  id="secondaryPhoto" ngModel name="secondaryPhoto" #secondaryPhoto="ngModel" type="file">
          </div>
          <button type="submit" (click)="addNewProduct(addProduct.form)" class="btn btn-primary col-sm-12">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>